body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(360deg, #2E3192 0%, #1BFFFF 100%);
}

.d-none {
    display: none;
}

/* Custom scrollbar styles for webkit browsers */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #3079ff;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

::-webkit-scrollbar-thumb:hover {
    background: #2E3192;
}

header {
    background: linear-gradient(0deg, #1BFFFF 0%, #2E3192 100%);
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    padding: 2rem;
    position: sticky;
    top: 0;
}

footer {
    background: linear-gradient(0deg, #1BFFFF 0%, #2E3192 100%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    border-top: 2px solid white;
    width: 100%;
    height: 4.5rem;
    padding: 12px 0 12px 0;
}

header h1,
footer p {
    margin: 0;
}

.pokeCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    height: 22rem;
    width: 12rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100px;
    height: 100px;
}

#showMoreIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 12px 0;
    gap: 12px;
    position: fixed;
    left: 40px;
    top: 20px;
}

.showMoreIcon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
    background-color: white;
    padding: 2px;
    margin: 12px;
}

.showMoreIconLeft {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
    background-color: white;
    padding: 2px;
    rotate: -180deg;
    margin: 12px;
}

.showMoreIconLeft:hover {
    transition: 200ms all;
    rotate: -540deg;
    width: 55px;
}

.showMoreIcon:hover {
    transition: 200ms all;
    rotate: 720deg;
    width: 55px;
}

#showMoreIconRight {
    position: fixed;
    top: 1rem;
    right: 2rem;
}

#showMoreIconLeft {
    position: fixed;
    top: 1rem;
    right: 6rem;
}