body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(360deg, #2E3192 0%, #1BFFFF 100%);
}

.d-none {
    display: none;
}

/* Custom scrollbar styles for webkit browsers */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #3079ff;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

::-webkit-scrollbar-thumb:hover {
    background: #2E3192;
}

header {
    background: linear-gradient(0deg, #1BFFFF 0%, #2E3192 100%);
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    padding: 2rem;
    position: sticky;
    top: 0;
}

footer {
    background: linear-gradient(0deg, #1BFFFF 0%, #2E3192 100%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    border-top: 2px solid white;
    width: 100%;
    height: 4.5rem;
    padding: 12px 0 12px 0;
}

header h1,
footer p {
    margin: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h3 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.pokeCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: unset;
    color: black;
    padding: 20px;
    border-radius: 10px;
    height: 22rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card img {
    width: 120px;
    height: 120px;
}

#showMoreIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 12px 0;
    gap: 12px;
    position: fixed;
    left: 40px;
    top: 20px;
}

.showMoreIcon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
    background-color: white;
    padding: 2px;
    margin: 12px;
}

.showMoreIconLeft {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
    background-color: white;
    padding: 2px;
    rotate: -180deg;
    margin: 12px;
}

.showMoreIconLeft:hover {
    transition: 200ms all;
    rotate: -540deg;
    width: 55px;
}

.showMoreIcon:hover {
    transition: 200ms all;
    rotate: 720deg;
    width: 55px;
}

#showMoreIconRight {
    position: fixed;
    top: 1rem;
    right: 2rem;
}

#showMoreIconLeft {
    position: fixed;
    top: 1rem;
    right: 6rem;
}

/* Card Info class*/
.pokemonName {
    text-align: center;
}

.pokemonImgContainer {
    display: flex;
    justify-content: center;
}

.pokemonNameAndIndex {
    text-align: center;
}